body{
	background-color: black;
	color: white;
	text-align: center;
}

img{
	margin-top: 20vh;
}

h1{
	margin-top: 5vh;
	margin-bottom: 2vh;
}

#viewRoute{
	margin-top: 15vh
}

footer{
	margin-bottom: 5vh;
	font-size: 8em;
}

