body{
  background-image: url("images/sky.jpeg");
  background-repeat: no-repeat;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

body .modal{
  color: black;
}

#map {
  height: 100vh;
  position: sticky !important
}

.navbar{
	margin: 0px;
}
#login{
	padding: 8px;
	margin: 5px 3px 0 3px;
	color: black;
}

.map {
    position: relative;
    text-align: center;
    color: white;
}
#address-details{
  position: absolute;
	top: 10px;
  left: 25%;
  width: 50vw;
}

